@font-face {
    font-family: Mestre-Bold;
    src: url(./assets/fonts/Mestre-Bold.ttf);
}

@font-face {
    font-family: MrEaves-Italic;
    src: url(./assets/fonts/MrEavesXLModNarOT-BookItalic.ttf);
}

:root {
    --main-color: #a118cd;
    --alternative-main-color: #8111b5;
    --secundary-color: #24c4da;
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 8rem;
    background-image: url(./assets/encabezado.png);
    background-color: #141933;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

html {
    background-image: url(./assets/pattern.webp);
    background-color: #f7f7f7;
}

#imago {
    text-align: center;
}

#imago__sup {
    font-size: 3rem;
    font-family: Mestre-Bold;
    font-weight: bolder;
    padding-top: 1.1rem;
}

#imago__sup--com {
    font-size: 2rem;
}

#imago__sub {
    font-family: MrEaves-Italic;
    font-size: 1.5rem;
}

.main_icon {
    border-radius: 100%;
    width: 6rem;
    margin-top: 1rem;
}

.no_show {
    visibility: hidden;
}

#main_nav {
    width: 100%;
    height: 3rem;
    background-color: black;
}

#main-nav ul {
    display: inline-block;
}

#main_nav a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#main_nav li {
    float: left;
    padding: 0.5rem 1rem;
}

#main_nav li:nth-child(1) {
    padding-left: 5rem;
}

article {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: justify;
    margin-bottom: 3rem;
}

article p {
    margin-bottom: 1rem;
}

article h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

article ul li {
    margin-left: 2rem;
}

article h1 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

footer {
    background-color: #141933;
    background: linear-gradient(
        to right,
        #0b0b0d 5%,
        #151621 30%,
        #121526 55%,
        #141933 80%
    );
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

footer img {
    width: 2.5rem;
}

footer #social {
    display: flexbox;
    padding: 0.3rem 0;
}

footer a {
    text-decoration: none;
}
